/*mystyle.css*/

.body{
    display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
    bottom: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* menubar all page*/
.menubar{
    position: absolute;
    top: 1vw;
    right: 2vw;
    width: 35vw;
    border-radius : 45px;
    font: bold 2vw "Roboto";
    word-spacing: 3vw;
    text-align: center;
    line-height: 4vw;
    height: auto;
}
.menubar a{
    color : #000000;
}


/* center text page 1 */
.centertext{
    position: absolute;
    display: flex;
    align-self: center;
    width: 600px;
    height: 300px;
    max-width: 100%;
    height: auto;
}


/* page 3 */
.follow{
    position: absolute;
    font: 200 2vw "Roboto";
    align-self: center;
    left: 43%;
    top: 400px;
    color: #000000;
}

.twitter{
    position: absolute;
    font: 200 18px "Roboto";
    left: 585px;
    top: 500px;
    color: #000000;
}
.ig{
    position: absolute;
    font: 200 18px "Roboto";
    left: 670px;
    top: 500px;
    color: #000000;
}
.username{
    position: absolute;
    font: 200 18px "Roboto";
    left: 615px;
    top: 550px;
    color: #000000;
}
.twitterlogo{
    position: absolute;
    left: 596px;
    top: 466px;
    max-width: 100%;
    height: auto;
}
.iglogo{
    position: absolute;
    left: 690px;
    top: 460px;
    max-width: 100%;
    height: auto;
}


/* kontak page 3 */
#contact{
    position: absolute;
    left: 150px;
    top: 80px;
    max-width: 100%;
    height: auto;
}

/* gambar profil page 2 */
.image{
    position: absolute;
    left: 40%;
    top: 215px;
    height: auto;
    max-width: 15%;
    border-radius: 180px;
}
#skill{
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 65%;
    top: 200px;
}

#desc{
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 5%;
    top: 160px;
}

/* IPAD PRO */
@media only screen and (max-width: 1150px) {

    .menubar{
        position: absolute;
        top: 3vw;
        left: 22%;
        width: 55vw;
        border-radius : 45px;
        font: bold 3vw "Roboto";
        word-spacing: 4vw;
        text-align: center;
        line-height: 8vw;
        height: auto;
    }

    .centertext{
        top: 45vw;
    }
    
    .image{
        position: absolute;
        left: 37vw;    
        top: 22vw;
        height: auto;
        max-width: 25%;
        border-radius: 180px;
    }
    
    #desc{
        position: absolute;
        left: 7vw;
        max-width: 100%;
        height: auto;
        top: 57vw;
    }

    #skill{
        position: absolute;
        left: 56vw;
        top: 57vw;
        height: auto;
        max-width: 100%;
    }

    .follow{
        position: absolute;
        font: 200 2vw "Roboto";
        align-self: center;
        left: 44vw;
        top: 80vw;
        color: #000000;
    }
    
    .twitter{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 42vw;
        top: 90vw;
        color: #000000;
    }
    .ig{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 51vw;
        top: 90vw;
        color: #000000;
    }
    .username{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 45vw;
        top: 95vw;
        color: #000000;
    }
    .twitterlogo{
        position: absolute;
        left: 43vw;
        top: 85vw;
        max-width: 100%;
        height: auto;
    }
    .iglogo{
        position: absolute;
        left: 53vw;
        top: 85vw;
        max-width: 100%;
        height: auto;
    }
    
    
    /* kontak page 3 */
    #contact{
        position: absolute;
        left: 20%;
        top: 30vw;
        max-width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 768px) {

    .menubar{
        position: absolute;
        top: 3vw;
        left: 22%;
        width: 55vw;
        border-radius : 45px;
        font: bold 3vw "Roboto";
        word-spacing: 4vw;
        text-align: center;
        line-height: 8vw;
        height: auto;
    }

    .centertext{
        max-width:60%;
        top: 45vw;
    }
    
    .image{
        position: absolute;
        left: 37vw;        
        top: 22vw;
        height: auto;
        max-width: 25%;
        border-radius: 180px;
    }
    
    #desc{
        position: absolute;
        left: 7vw;
        max-width: 40%;
        height: auto;
        top: 57vw;
    }

    #skill{
        position: absolute;
        left: 56vw;
        top: 57vw;
        height: auto;
        max-width: 40%;
    }

    .follow{
        position: absolute;
        font: 200 2vw "Roboto";
        align-self: center;
        left: 45vw;
        top: 80vw;
        color: #000000;
    }
    
    .twitter{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 42vw;
        top: 91vw;
        color: #000000;
    }
    .ig{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 51vw;
        top: 91vw;
        color: #000000;
    }
    .username{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 45vw;
        top: 95vw;
        color: #000000;
    }
    .twitterlogo{
        position: absolute;
        left: 43vw;
        top: 85vw;
        max-width: 100%;
        height: auto;
    }
    .iglogo{
        position: absolute;
        left: 53vw;
        top: 85vw;
        max-width: 100%;
        height: auto;
    }
    
    
    #contact{
        position: absolute;
        left: 20%;
        top: 30vw;
        max-width: 70%;
        height: auto;
    }

}

@media only screen and (max-width: 500px) {

    .menubar{
        position: absolute;
        top: 4vw;
        left: 22%;
        width: 55vw;
        border-radius : 45px;
        font: bold 3vw "Roboto";
        word-spacing: 4vw;
        text-align: center;
        line-height: 8vw;
        height: auto;
    }

    .centertext{
        max-width:60%;
        top: 60vw;
    }
    
    .image{
        position: absolute;
        left: 37vw;       
        top: 23vw;
        height: auto;
        max-width: 25%;
        border-radius: 180px;
    }
    
    #desc{
        position: absolute;
        left: 7vw;
        max-width: 40%;
        height: auto;
        top: 60vw;
    }

    #skill{
        position: absolute;
        left: 56vw;
        top: 60vw;
        height: auto;
        max-width: 40%;
    }

    .follow{
        position: absolute;
        font: 200 4vw "Roboto";
        align-self: center;
        left: 40vw;
        top: 80vw;
        color: #000000;
    }
    
    .twitter{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 37vw;
        top: 98vw;
        color: #000000;
    }
    .ig{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 57vw;
        top: 98vw;
        color: #000000;
    }
    .username{
        position: absolute;
        font: 200 2vw "Roboto";
        left: 45vw;
        top: 105vw;
        color: #000000;
    }
    .twitterlogo{
        position: absolute;
        left: 36vw;
        top: 86vw;
        width: 2px;
        height: auto;
    }

    .iglogo{
        position: absolute;
        left: 56vw;
        top: 86vw;
        width: 10%;
        height: auto;
    }
    
    #contact{
        position: absolute;
        left: 20%;
        top: 30vw;
        max-width: 70%;
        height: auto;
    }

}