<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Story 6 Wildan</title>
    <link rel="stylesheet" href= "{% static "css/bootstrap.css" %}">
    <style>
        
    </style>
</head>
<body style= "background-color: #69bcd1;" >
    <div class="container">
        <form action="{% url 'landingApp:tambah_status' %}" method="POST"style="margin: 5vw 15vw">
            <h1>Halo, Apa Kabar?</h1>
            {% csrf_token %}
            <table>
                {{post_form.as_table}}
            </table>
            <button type="submit">Post</button>

        </form>
        
        {% for a in posting %} 
        <p style= " border: 1px solid black; border-radius: 10px; padding: 5px 25px; width: 50vw; max-width: 50vw">{{a.status}}</p>
        <p>{{a.waktu}}</p>
        <form action="{% url 'landingApp:delete' a.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="a_id" value="{{ a.id }}"/>
            <button type="" class="btn-sm col-2" style= "width: 10vw;" >Hapus</button> 
        </form>
        <br>
        
        {% endfor %}
    </div>
</body>


</html>
